extends inventory
block display-content
    if categories.length > 0
        each category in categories
            div= category.name
    else
        p There's not category to show! Sorry maybe it's empty the database