extends inventory
block display-content
    div(class="item_detail_not_found_error_container")
        h3 "This item was not found it, if you want to add this item to the list, please follow this link:"
        a(href="/inventory/item/create") Create item

